*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    background-color: aliceblue;
}

.contenedor-cajero{
    margin-top: 100px;
}
.ancho{
    width: 1200px;
    height:800px;
    background-color: #03318C;
    margin: 0 auto;
}

.ancho-2{
    width: 1200px;
    height:800px;
    background-color: #0F5AF2;
    margin: 0 auto;
}

.ancho-blanco{
    width: 1200px;
    height:800px;
    background-color: white;
    margin: 0 auto;
}

.contenido-principal{
    display: flex;
    grid-template-columns: 1fr 3fr;
    gap:100px;
}

.texto-columna-1 h2{
    color:white;
    margin-bottom: 40px;
    font-size: 24px;
}

.cobrar-giro-columna-1{
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
}

.columna-1{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    border-right:1px solid white;
}

.columna-2{
    height: 600px;
    width: 100%;
}

.contenedor-logo{
    display: flex;
    justify-content: end;
}

.logo{
    height: 150px;
}

.logo img{
    height: 50%;
}

.cobrar-giro-columna-1 p{
    color:#03318C;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
}

.cobrar-giro-columna-1 h3{
    color:#03318C;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
}
.cobrar-giro-columna-1 hr{
    margin-top: 15px;
    color:#03318C;
    margin-left: 50px;
    width: 20%;
    height:5px;
    background-color: #03318C;
    border-radius: 2px;
}

.texto-columna-1, .cobrar-giro-columna-1{
    margin-right: 40px;
}

.columna-2-texto{
    text-align: center;
    color:white;
}

.columna-2-texto h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.columna-2-texto p{
    font-size: 25px;
}

.imagen-tarjeta{
    text-align: center;
    margin-top: 50px;
}

.imagen-tarjeta img{
    height: 60%;
}


.contenido-secundario{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid:20px;
    background-color:#0F5AF2;
}

.datos-cajero {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color:white;
    font-size: 20px;
}

.datos-cajero p{
    margin-bottom: 5px;
}

.datos-billetes{
    background-color: #0F5AF2;
    margin-top: 20px;
    margin-left: 20px;

}

.datos-billetes {
    margin-top: 20px;
    margin-left: 20px;
    color:white;
}
.datos-billetes p{
    font-size: 25px;
}

.billetes{
    margin-top: 20px;
}

.imagen-tarjeta{
    height:400px;
}

.pantalla-inicio{
    display: none;
}

.texto-espera-un-momento{
    margin-top:150px;
    color:white;
    font-size: 40px;
    margin-left: 90px;
}

.texto-espera-un-momento hr{
    color: white;
    margin-top: 40px;
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}

.espera-un-momento{
    display: none;
}

.contenedor-boton-salir{
    display: flex;
    justify-content:end;
}

.boton-salir{
    margin-top: 20px;
    margin-right: 40px;
    height: 40px;
    border-radius: 7px;
    width: 120px;
    color:white;
    background-color: #03318C;
    border-radius: 10px;

    border:1px solid white;
}

.icono{
    margin-right: 10px;
}

.ingresa-dni-principal{
    height: 700px;
    margin-top:40px;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 60px;
    color:white;

}

.ingresa-dni-principal h2{
    font-size: 40px;
    margin-bottom: 5px;
}

.ingresa-dni-principal p{
    font-size: 30px;
    margin-bottom: 20px;
}
.columna-2-dni , .columna-1-datos{
    height: 700px;
   
}

.columna-2-dni{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
}

.contenedor-imagen img{
    height: 550px;
    margin-right: 40px;
}

.input-ingrese-dni{
    margin-top: 20px;
    border:2px white solid;
    background-color: #03318C;
    border-radius: 8px;
    height: 70px;
    width: 320px;
    color:white;
    font-size: 20px;
    padding-left: 30px;
}

.columna-1-datos{
    margin-top: 60px;
}
.contenedor-ingrese-sin-dni{
    margin-top: 120px;
}

.boton-ingres-sin-dni{
    background-color: #03318C;
    color:white;
    border:2px solid white;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    font-size: 15px;
}

.fa-id-card{
    color:orangered;
    padding-right: 20px;
}

.ingrese-dni{
  display: none;
}

.columna-1-ingresar-dni{
    color:white;
    font-size: 20px;
    margin-top: 150px;
}



.validando-dni{
  padding-top: 150px;
  color:white;
  padding-left: 150px;
  font-size: 30px;
}

.validando-dni p{
    margin-top: 20px;
}

.contenedor-spinner{
    display: flex;
    margin-top: 150px;
    margin-left: 120px;
    color:white;
    font-size: 30px;
}

.spinner{
    margin-right: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3); /* Color del borde del spinner */
    border-top: 4px solid #ffffff; /* Color del borde superior del spinner (blanco en este caso) */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.contenedor-validando-dni{
   display: none;
}

.text-header{
    color:white;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 50px;

}



.header-principal{
    display: flex;
    justify-content: space-between;
}

.contenedor-boton-salir-retiro{
    margin-top: 50px;
}

.boton-salir-retiro{
    margin-top: 20px;
    margin-right: 40px;
    height: 40px;
    border-radius: 7px;
    width: 120px;
    color:white;
    background-color: #03318C;
    border-radius: 12px;

    border:1px solid white;
}

.main-retiro-principal{
    margin-top: 50px;
    height: 500px;
    display: grid;
    gap:30px;
    grid-template-columns: 60% 40%;
}
.columna-principal-1{
}
.columna-principal-2{

}

.columna-principal-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.retirar-efectivo{
    background-color: white;
    grid-row: span 2;
    margin-left: 20px;
    border-radius: 10px;
}

.tranferir-efectivo ,.adelanto-sueldo {
    background-color: #F27405;
    border-radius: 10px;
}


.contenedor-botones-actualizar-cambiar{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.actualizar-celular, .cambiar-clave{
    height: 200px;

}
.actualizar-celular{
    background-color: #03318C;
    border: 2px solid white;
    border-radius: 10px;
    width: 190px;
}

.cambiar-clave{
    background-color: #03318C;
    border: 2px solid white;
    width: 190px;
    border-radius: 10px;
}

.texto-columna-principal-2 p{
    color:white;
    font-size: 20px;
}

.texto-columna-principal-2{
    margin-bottom: 20px;
}

.actualizar-celular, .cambiar-clave{
    color:white;

}
.icono-actualizar, .icono-cambiar{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 35px;
    margin-left: 50px;
}

.texto-actualizar, .texto-cambiar{
    font-size: 25px;
    text-align: center;

}

.tranferir-efectivo, .adelanto-sueldo{
    color:white;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 50px;
}

.tranferir-efectivo hr, .adelanto-sueldo hr{

    color:white;
    width: 100px;
    margin-top:30px;
    height: 10px;
    background-color: white;
    border:solid 1px white;
    border-radius: 2px;
    padding-left: 50px;

}

.retirar-efectivo{
    color:#03318C;
    font-size:40px;
    padding-top:70px;
    padding-left: 50px;
}

.retirar-efectivo p {
    margin-bottom: 2px;
}

.retirar-efectivo hr {
    width: 60px;
    margin-top: 30px;
    color:#03318C;
    height: 10px;
    background-color: #03318C;
}

.icono-retiro{
    font-size: 100px;
    margin-bottom: 40px;
}
.contenedor-retiro-principal{
    display: none;
}

.header-tipo-cuenta{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}


.boton-cancelar{
    color:black;
    background-color: white;
    border:2px solid black;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

.texto-tipo-de-cuenta{
    display: flex;
}

.icono-retiro-2{
    font-size: 60px;
    margin-right: 20px;
    color:#03318C;
}

.parrafo-tipo-de-cuenta h2{
    font-size: 20px;
    color:gray;
    margin-bottom: 2px;
}

.parrafo-tipo-de-cuenta p {
    font-size:30px;
}

.contenedor-tipos-cuenta{
    margin-top:100px;
}

.contenedor-cuenta-soles , .contenedor-cuenta-dolares{
    margin-left: 45px;
}

.contenedor-cuenta-soles p {
    color:#03318C;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.contenedor-cuenta-dolares p {
    color:#03318C;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.boton-ahorro-soles, .boton-ahorro-dolares{
    height: 150px;
    background-color: #03318C;
    width: 320px;
    border-radius: 10px;
}

.contenedor-cuenta-dolares{
    margin-top: 50px;
}

.tipo-de-cuenta{

}

.texto-ahorro {
    text-align: center;
    color:white;
    font-size: 30px;
    padding-top: 30px;

}

.texto-ahorro p{
    color:white;
    font-size: 25px;
}

.tipo-de-cuenta{
    display: none;
}

.header-tipo-de-moneda{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.texto-tipo-moneda{
    display: flex;
    margin-left: 50px;
}

.icono-tipo-moneda{
    color:#03318C;
    font-size: 70px;
    margin-right: 30px;
}

.parrafos-tipo-moneda h2{
    color:gray;
}
.parrafos-tipo-moneda p{
    font-size: 30px;
    margin-top: 10px;
}


.boton-volver{
    color:black;
    background-color: white;
    border: 1px solid;
    border-radius: 14px;
    height: 40px;
    width: 120px;
    margin-right: 40px;
}
.volver{
    padding-right:10px;
}
.main-tipo-moneda{
    margin-top: 180px;
}

.retirar-soles{
    height: 350px;
    width: 350px;
    background-color: #03318C;
    border-radius: 10px;
    margin-right: 50px;
}

.retirar-dolares{
    height: 350px;
    width:  350px;
    background-color: #0F5AF2;
    border-radius: 10px;
}

.main-tipo-moneda{
    display: flex;
    justify-content: center;

}


.retirar-soles, .retirar-dolares{
    padding-top: 30px;
    padding-left: 40px;
}
.icono-moneda{
    color:white;
    font-size: 60px;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 40px;
}
.retirar-soles p{
    color:white;
    font-size: 35px;
    margin-left: 50px;
}

.retirar-dolares p{
    color:white;
    font-size: 35px;
    margin-left: 50px;
}

.separador-soles-dolares{
    color:white;
    width: 50px;
    margin-top: 20px;
    margin-left: 50px;
    height: 4px;
    background-color: white;
}

.tipo-moneda{
    display: none;
}

.header-ingresar-monto{
    display: flex;
    justify-content: space-between;
}

.boton-volver{
    color:#03318C;
    margin-top: 50px;
    border-radius: 10px;
}

.texto-header{
    margin-top: 50px;
}

.icono-volver{
    padding-right: 20px;
}

.icono-retiro-dinero{
    margin-bottom: 50px;
    color:#0F5AF2;
    font-size: 80px;
}

.texto-header{
    margin-left: 70px;
}

.texto-header{
    display: flex;

}

.parrafo-header p{
    padding-left: 40px;
    
}
.parrafo-header h2{
    padding-left: 40px;
    padding-top: 10px;
    font-size: 25px;
    color:black;
    font-weight: normal;
}

.informacion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.informacion-horario{
    margin-left: 100px;
}

.informacio-billete p{
   color:#0F5AF2;
   font-size: 35px;
}

.billetes-disponible{
    display: flex;
    justify-content: center;
}

.billete-20{
    margin-right: 50px;
}

.billete-20, .billete-50{
    color:#03318C;
    margin-top: 10px;
    font-size: 30px;
    
}

.informacion-horario{
    display: flex;
}

.icono-reloj{
    color:#00fed4;
    font-size: 45px;
    padding-right: 50px;

}

.texto-horario p{
    color:#00fed4;
    font-size: 25px;
    margin-bottom: 10px;
}

.texto-horario span {
    margin-top: 40px;
    font-size: 20px;
}

.monto-cuenta{
    margin-top: 100px;
    display: flex;
    justify-content: center;   
}
.monto-retirar{
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px
}

.monto-20 , .monto-50, .monto-100, .monto-150{
    height: 100px;
    width: 200px;
    background-color: #03318C;
    border-radius: 10px;
    color:white;
    font-size: 30px;
}

.parrafo-monto{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.monto{ 
    color:black;
    font-size: 25px;
    font-weight: bold;
}

.input-monto{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #0F5AF2;
    height: 60px;
    width: 250px;
    border-radius: 12px;
    color:gray;
    padding-left: 20px;
    font-size: 20px;
}

.boton-confimrar{
    background-color: #f5f5f5;
    height: 40px;
    width: 250px;
    border-radius: 10px;
}